#zbcc {
    width: 100%;
    height: 100%;
}


/*  */


#zbcc .form-block.inline {
    width: 100%;
    height: fit-content;
}

#zbcc .form-block.popup {
    width: 100vw;
    height: 100vh;

    display: none;

    position: fixed;
    top: 0;
    bottom: 0;

    overflow-y: scroll;
    backdrop-filter: blur(40px);
}


/*  */


#zbcc > .form-block[data-id="data-blocks"] form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

#zbcc > .form-block form {
    width: 80%;
    margin: auto;
}

#zbcc > .form-block form section.data-block {
    width: 100%;

    overflow: hidden;
    border: 1px white solid;
    border-radius: 50px;
    background-color: white;
    color: black;
}

#zbcc > .form-block form section.data-block:first-of-type {
    margin-top: 200px;
}

#zbcc > .form-block form section.data-block:last-of-type {
    margin-bottom: 200px;
}


/*  */


#zbcc > .form-block form section.data-block > header {
    padding: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: black;
    color: white;
}

#zbcc > .form-block form section.data-block > header h3.block-title {
    font-weight: bold;
}

#zbcc > .form-block form section.data-block > header .block-description {
    width: 70%;
}


/*  */


#zbcc > .form-block form section.data-block > .input-data input {
    border: 0;
    border-radius: 5px;
    text-align: center;
}

#zbcc > .form-block form section.data-block > .input-data input:disabled {
    opacity: 0.5;
}

#zbcc > .form-block form section.data-block > .input-data input[type="text"] {
    padding: 4px 10px;
}

#zbcc > .form-block form section.data-block > .input-data input[type="number"] {
    padding: 4px 0px 4px 14px;
}

#zbcc > .form-block form section.data-block > .input-data input[type="checkbox"] {
    width: 15px;
    height: 15px;
}


#zbcc > .form-block form section.data-block > .input-data select {
    padding: 4px 20px 4px 25px;
    border: 0;
    border-radius: 5px;
    text-align: center;
}

#zbcc > .form-block form section.data-block > .input-data select:disabled {
    opacity: 0.5;
}


#zbcc > .form-block form section.data-block > .input-data button {
    border: 0;
}

#zbcc > .form-block form section.data-block > .input-data button:active {
    opacity: 0.75;
}


#zbcc > .form-block form section.data-block > .input-data button.unhider {
    padding: 4px 10px;
}

#zbcc > .form-block form section.data-block > .input-data button.calc {
    padding: 4px 10px;
}

#zbcc > .form-block form section.data-block > .input-data .calc-buttons {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#zbcc > .form-block form section.data-block > .input-data table th {
    text-align: left;
}


/*  */


#zbcc > .form-block form section.data-block > .input-data .extra-inputs {
    width: fit-content;
    padding: 0 20px 20px 80px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    border-radius: 0 0 30px 0;
    background-color: black;

    color: white;
}


/*  */


#zbcc > .form-block form section.data-block > .input-data .extra-inputs input {
    background-color: #262627;
    color: #f5f5f5;
}

#zbcc > .form-block form section.data-block > .input-data .extra-inputs select {
    background-color: #262627;
    color: #f5f5f5;
}

#zbcc > .form-block form section.data-block > .input-data .extra-inputs button.unhider {
    width: 100%;
    min-width: 100px;
    margin-top: 2px;
    padding: 4px 10px;

    border: 0;
    border-radius: 5px;
    appearance: none;
    background-color: #262627;

    text-align: center;
    color: #f5f5f5;
}

#zbcc > .form-block form section.data-block > .input-data .extra-inputs button.calc {
    background-color: black;
    color: white;
}

#zbcc > .form-block form section.data-block > .input-data .extra-inputs button.calc:hover {
    background-color: #262627;
}


/*  */


#zbcc > .form-block form section.data-block > .input-data .base-inputs {
    padding: 50px;

    overflow-x: auto;
    border-radius: 0 50px 0 0;
    background-color: white;

    color: black;
}


/*  */


#zbcc > .form-block form section.data-block > .input-data .base-inputs table {
    width: 100%;
    margin: auto;
}

#zbcc > .form-block form section.data-block > .input-data .base-inputs input {
    background-color: #dee1e3;
    color: #0c0c0c;
}

#zbcc > .form-block form section.data-block > .input-data .base-inputs select {
    background-color: #dee1e3;
    color: #0c0c0c;
}

#zbcc > .form-block form section.data-block > .input-data .base-inputs input:disabled {
    opacity: 0.5;
}

#zbcc > .form-block form section.data-block > .input-data .base-inputs button.calc {
    background-color: white;
    color: black;
}

#zbcc > .form-block form section.data-block > .input-data .base-inputs button.calc:hover {
    background-color: #dee1e3;
}

#zbcc > .form-block form section.data-block > .input-data .base-inputs .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#zbcc > .form-block form section.data-block > .input-data .base-inputs button.action {
    padding: 10px 50px;
    margin: auto;
    margin-top: 30px;
    display: block;
    border: 0;
    border-radius: 5px;
    appearance: none;
    background-color: black;
    color: white;
}


/*  */


#zbcc > .form-block form section.data-block > .input-data .base-inputs .inputs-table.unhideable,
#zbcc > .form-block form section.data-block > .input-data .base-inputs .inputs-table.choosable,
#zbcc > .form-block form section.data-block > .input-data .base-inputs .inputs-table.curveable {
    display: none;
}

.unhidden, .choosen, .curved {
    display: inherit !important;
}

.form-block[data-id="pre-condition"] .base-inputs > div {
    margin: 50px auto;
}